@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #111117;
  color: white;
  overflow-x: hidden;
}
/* from my side */
.hero-zoom .back{
    scale: 0.8;
    transform: translateY(-7px);
}
/* from my side ends here */

.hero-zoom img {
    width:100%;
    height:100%;
    object-fit: cover;
}
.hero-zoom .front {
    scale: 0.075;
    transform: translateY(-1180px) translateX(240px);
}
.hero-zoom .logo-pic {
    scale: 0.8;
   transform: translateY(-7px);
}

.hero-zoom h1{
    text-transform: uppercase;
    font-size: 6rem;
    font-weight:700;
    letter-spacing: -0.2rem;
    line-height: 0.8;   
}

.hero-zoom p{
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 0.8;
}

.hero-zoom .hero {
    position: relative;
    width: 100vw;
    height: 100svh;
    background-color: #111117;
    text-align: center;
    overflow: hidden;
}

.hero-zoom .hero-img-container,
.hero-zoom .hero-img-container img,
.hero-zoom .fade-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.hero-zoom .hero-img-logo img {
    position: absolute;
    top: 18%; /* make it 20% */
    left: 50%;  /* make it 50% */
    transform: translate(-50%, 0);
    width: 250px;
    height: auto;
    object-fit: contain;
}
.hero-zoom .hero-img-copy {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    will-change: opacity;
}
.hero-zoom .hero-img-copy p {
    font-size: 0.65rem; 
}
.hero-zoom .fade-overlay {
    background-color: white;
    will-change: opacity;
}
.hero-zoom .overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center 15%;
    width: 100%;
    height: 200%;
    z-index: 1;
}
.hero-zoom .logo-container {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 150px;
    z-index: 2;
}
.hero-zoom .overlay-copy {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
}
.hero-zoom .overlay-copy h1 {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    transform-origin: center 0%;
}


@media (max-width: 900px) {
    .hero-zoom h1 {
        font-size: 2.5rem;
        letter-spacing: 0;
    }
    .hero-zoom p {
        font-size: 1rem;
    }
    .hero-zoom .overlay-copy {
        width: 100%;
    }
}